body{
    background-color: black;;
    color: white;
}

#red{
    background-color: red;
}

#orange{
    background-color: orange;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}

#pink{
    background-color: pink;
}