* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #667eea, #764ba2);
}

button{
    font-size: 20px;
    background-color: rgb(173, 160, 160);
    color: white;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    
}